
<header>
    <nav class="navbar navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Placement Cell</a>
        <% if(locals.user) { %>
            <a class="navbar-brand" href="/users/userProfile/<%= locals.user._id %>">
                <%= user.name %>
            </a>
        <%}%>
  
        <form class="d-flex">
          <a class="navbar-brand" href="/users/dashboard">Dashboard</a>
          <a class="navbar-brand" href="/student/addstudent">Add new Student</a>
          <a class="navbar-brand" href="/interview/addinterview"
            >Add Interview</a
          >
          <a class="navbar-brand" href="/users/download-csv">Download Report</a>
          <a class="navbar-brand" href="/users/logOut">Signout</a>
        </form>
      </div>
    </nav>
  </header>