<form action = "/Student/create" method = "POST">
    <label for "name">Name</label>
    <input type = "text" name = "name" placeholder="Enter Name" required>
    <label for "email">Email</label>
    <input type = "email" name = "email" placeholder="Enter Email" required>
    <label for "college">College</label>
    <input type = "text" name = "college" placeholder="Enter College Name" required>
    <label for "batch">Batch</label>
    <input type = "text" name = "batch" placeholder="Enter Batch" required>
    <label for "placementStatus">placement-status</label>
    <select id="placementStatus"  required name="placementStatus">
        <option selected>Not placed</option>
        <option>Placed</option>
    </select>
    <label for "dsa_score">DSA Score</label>
    <input type = "number" name = "dsa_score" placeholder="Enter DSA Score" required>
    <label for "webdev_score">Webd Score</label>
    <input type = "number" name = "webdev_score" placeholder="Enter Webd Score" required>
    <label for "react_score">React Score</label>
    <input type = "number" name = "react_score" placeholder="Enter React Score" required>
    <input type = "submit" value = "ADD STUDENT">
</form>