<form action = "/user/create" method="post">
    <input type = "text" name = "name" placeholder="Enter Name.." required>
    <input type = "email" name = "email" placeholder="ABC@gmail.com" required>
    <input type = "text" name = "phoneNo" placeholder="Phone Number" required>
    <input type = "Password" name = "password" placeholder="Enter password" required>
    <input type = "Password" name = "confirm_Password" placeholder="reEnter password to confirm" required>
    <input type = "submit" value = "submit">
</form>