$primary-color: #333;
$secondary-color: white;
$accent-color: #f90;

.navbar {
  background-color: $primary-color !important;

  .navbar-brand {
    color: $secondary-color !important;

    &:hover {
      text-decoration: underline;
    }
  }
}
